[user]
	email = yuriy.yashkir@gmail.com
	name = Yuriy Yashkir
[alias]
    p = pull
    cm = commit
    f = fetch --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow bold)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    l = log --color --pretty=format:'%Cred%h%Creset -%C(yellow bold)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    re = reset
    reh = reset --hard
    res = reset --soft
[core]
	excludesfile = /home/yashkir/.gitignore_global
[init]
	defaultBranch = master
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[push]
	default = current
[merge]
	conflictstyle = diff3
